OPCIÓN 1

In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.1.3'

In [3]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [4]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [5]:
#conectar a ddbb de postgre
from sqlalchemy import create_engine

In [6]:
engine = create_engine('postgresql://admin:root@localhost:5432/ny_taxi')

In [7]:
engine.connect()

In [8]:
print(pd.io.sql.get_schema(df,name="yellow_taxi_data",con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [13]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True,chunksize=100000)

In [14]:
df = next(df_iter)

In [15]:
len(df)

100000

In [16]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [21]:
engine.connect()

In [25]:
df.head(n=0).to_sql(name="yellow_taxi_data",con=engine, if_exists="replace") #crear modelo de datos

0

In [26]:
%time df.to_sql(name="yellow_taxi_data",con=engine, if_exists="append") #cargar datos

CPU times: user 6.12 s, sys: 129 ms, total: 6.25 s
Wall time: 8.9 s

1000

In [29]:
from time import time

In [ ]:
while True:
    t_start = time() #minuto de inicio
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name="yellow_taxi_data",con=engine, if_exists="append") #cargar datos

    t_end = time() #minuto de fin
    
    print("inserted another chunk..., tomó " + str(t_end-t_start))

OPCIÓN 2

In [31]:
engine.connect()

In [34]:
query = """
SELECT * FROM pg_catalog.pg_tables WHERE SCHEMANAME NOT IN ('pg_catalog','information_schema')
"""
#listar tablas

pd.read_sql(query,con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_data,admin,None,True,False,False,False

In [ ]:
query = """
SELECT * FROM pg_catalog.pg_tables WHERE SCHEMANAME NOT IN ('pg_catalog','information_schema')
"""
#listar tablas

pd.read_sql(query,con=engine)